In [2]:
import pandas as pd
import sys
import os

In [2]:
# load dataframes
dfGen27k = pd.read_excel("../data/raw/generic_27k.xlsx")
dfEarth1 = pd.read_excel("../data/raw/earth_day_tweets_sentiment_50k_(1).xlsx")
dfEarth2 = pd.read_excel("../data/raw/earth_day_tweets_sentiment_50k_(2).xlsx")
dfFifa = pd.read_excel("../data/raw/fifa_world_cup_2022_tweets_sentiment_22k.xlsx")

In [8]:
# EARCH DAY TWEETS SENTIMENT 50K 1
dfEarth1.head()

,text,hash_tags,account_tags,sentiment,emotion
0,RT @POTUS: As we celebrate the progress we’ve ...,NaN,POTUS,POSITIVE,optimism
1,"This #EarthDay, I'm happy to be meeting with P...","EarthDay,GetTheLeadOut",PennEnvironment,POSITIVE,optimism
2,RT @Khan__sir_patna: All of people wishes and ...,EarthDay,Khan__sir_patna,POSITIVE,joy
3,RT @CapsCoalition: Biden Signs Executive Order...,EarthDay,CapsCoalition,POSITIVE,optimism
4,RT @tamannaahspeaks: Animals source their food...,MyconnectwithSoil,"tamannaahspeaks,SadhguruJV,cpsavesoil",POSITIVE,optimism

In [9]:
print("Dataset shape:", dfEarth1.shape)
print("Dataset info:")
dfEarth1.info()
print('Statistical Summary:')
dfEarth1.describe()

Dataset shape: (49999, 5)
Dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49999 entries, 0 to 49998
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   text          49999 non-null  object
 1   hash_tags     33612 non-null  object
 2   account_tags  38273 non-null  object
 3   sentiment     49999 non-null  object
 4   emotion       49999 non-null  object
dtypes: object(5)
memory usage: 1.9+ MB
Statistical Summary:

,text,hash_tags,account_tags,sentiment,emotion
count,49999,33612,38273,49999,49999
unique,27009,8566,13643,2,4
top,RT @Snoopy: Today is Earth Day! How will you c...,EarthDay,cpsavesoil,POSITIVE,joy
freq,465,9886,2037,33235,27278

In [10]:
print(dfEarth1["sentiment"].unique())
print(dfEarth1["emotion"].unique())

['POSITIVE' 'NEGATIVE']
['optimism' 'joy' 'anger' 'sadness']

In [11]:
for var in dfEarth1:
    print(var, dfEarth1[var].isnull().sum(), round(dfEarth1[var].isnull().sum() / len(dfEarth1) * 100, 4), "%")

text 0 0.0 %
hash_tags 16387 32.7747 %
account_tags 11726 23.4525 %
sentiment 0 0.0 %
emotion 0 0.0 %

In [ ]:
# EARCH DAY TWEETS SENTIMENT 50K 2
dfEarth2.head()

,text,hash_tags,account_tags,sentiment,emotion
0,RT @Amyk_Essentials: Happy Earth Day 🌎\nTreat ...,NaN,Amyk_Essentials,POSITIVE,joy
1,RT @WUTangKids: Make Earth Day Every Day! htt...,NaN,WUTangKids,NEGATIVE,joy
2,"Earth Day, every day. \n#EarthDay2022 🌍 https:...",EarthDay2022,NaN,NEGATIVE,joy
3,"RT @wbcsd: On #EarthDay, @wbcsd proudly announ...",EarthDay,"wbcsd,wbcsd,UPLLtd,Chevron",POSITIVE,optimism
4,"RT @lihosny: I’m fighting for a greener, healt...","EarthDay,MakeOntarioGreen",lihosny,POSITIVE,optimism

In [13]:
print("Dataset shape:", dfEarth2.shape)
print("Dataset info:")
dfEarth2.info()
print('Statistical Summary:')
dfEarth2.describe()

Dataset shape: (50100, 5)
Dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50100 entries, 0 to 50099
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   text          50100 non-null  object
 1   hash_tags     29331 non-null  object
 2   account_tags  38679 non-null  object
 3   sentiment     50100 non-null  object
 4   emotion       50100 non-null  object
dtypes: object(5)
memory usage: 1.9+ MB
Statistical Summary:

,text,hash_tags,account_tags,sentiment,emotion
count,50100,29331,38679,50100,50100
unique,26185,8233,13209,2,4
top,RT @BarackObama: When it comes to climate chan...,EarthDay,cpsavesoil,POSITIVE,joy
freq,655,9680,1224,32854,29031

In [14]:
print(dfEarth2["sentiment"].unique())
print(dfEarth2["emotion"].unique())

['POSITIVE' 'NEGATIVE']
['joy' 'optimism' 'anger' 'sadness']

In [15]:
for var in dfEarth2:
    print(var, dfEarth2[var].isnull().sum(), round(dfEarth2[var].isnull().sum() / len(dfEarth2) * 100, 4), "%")

text 0 0.0 %
hash_tags 20769 41.4551 %
account_tags 11421 22.7964 %
sentiment 0 0.0 %
emotion 0 0.0 %

In [ ]:
# GENERIC 27K
dfGen27k.head()

       textID                                               text sentiment
0  cb774db0d1                I`d have responded, if I were going   neutral
1  549e992a42      Sooo SAD I will miss you here in San Diego!!!  negative
2  088c60f138                          my boss is bullying me...  negative
3  9642c003ef                     what interview! leave me alone  negative
4  358bd9e861   Sons of ****, why couldn`t they put them on t...  negative

In [4]:
print("Dataset shape:", dfGen27k.shape)
print("Dataset info:")
dfGen27k.info()
print('Statistical Summary:')
dfGen27k.describe()

Dataset shape: (27481, 3)
Dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27481 entries, 0 to 27480
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   textID     27481 non-null  object
 1   text       27480 non-null  object
 2   sentiment  27481 non-null  object
dtypes: object(3)
memory usage: 644.2+ KB
Statistical Summary:

,textID,text,sentiment
count,27481,27480,27481
unique,27481,27476,3
top,cb774db0d1,lost luggage? Sorry to hear. you should check...,neutral
freq,1,2,11118

In [7]:
dfGen27k["sentiment"].unique()

array(['neutral', 'negative', 'positive'], dtype=object)

In [6]:
for var in dfGen27k:
    print(var, dfGen27k[var].isnull().sum(), round(dfGen27k[var].isnull().sum() / len(dfGen27k) * 100, 4), "%")

textID 0 0.0 %
text 1 0.0036 %
sentiment 0 0.0 %

In [16]:
# FIFA WORLD CUP 2022 TWEETS SENTIMENT 22K
dfFifa.head()

,Unnamed: 0,Date Created,Number of Likes,Source of Tweet,Tweet,Sentiment
0,0,2022-11-20 23:59:21+00:00,4,Twitter Web App,What are we drinking today @TucanTribe \n@MadB...,neutral
1,1,2022-11-20 23:59:01+00:00,3,Twitter for iPhone,Amazing @CanadaSoccerEN #WorldCup2022 launch ...,positive
2,2,2022-11-20 23:58:41+00:00,1,Twitter for iPhone,Worth reading while watching #WorldCup2022 htt...,positive
3,3,2022-11-20 23:58:33+00:00,1,Twitter Web App,Golden Maknae shinning bright\n\nhttps://t.co/...,positive
4,4,2022-11-20 23:58:28+00:00,0,Twitter for Android,"If the BBC cares so much about human rights, h...",negative

In [17]:
print("Dataset shape:", dfFifa.shape)
print("Dataset info:")
dfFifa.info()
print('Statistical Summary:')
dfFifa.describe()

Dataset shape: (22524, 6)
Dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22524 entries, 0 to 22523
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       22524 non-null  int64
 1   Date Created     22524 non-null  object
 2   Number of Likes  22524 non-null  int64
 3   Source of Tweet  22524 non-null  object
 4   Tweet            22524 non-null  object
 5   Sentiment        22524 non-null  object
dtypes: int64(2), object(4)
memory usage: 1.0+ MB
Statistical Summary:

         Unnamed: 0  Number of Likes
count  22524.000000     22524.000000
mean   11261.500000        23.822856
std     6502.263068      2128.018705
min        0.000000         0.000000
25%     5630.750000         0.000000
50%    11261.500000         0.000000
75%    16892.250000         2.000000
max    22523.000000    316867.000000

In [21]:
print(dfFifa["Sentiment"].unique())
print(dfFifa["Source of Tweet"].unique())

['neutral' 'positive' 'negative']
['Twitter Web App' 'Twitter for iPhone' 'Twitter for Android' 'IFTTT'
 'Twitter for Mac' 'TweetDeck' 'Salesforce - Social Studio'
 'Hootsuite Inc.' 'Triberr' 'Twittimer' 'Twitter for iPad' 'Jetpack.com'
 'SocialFlow' 'Twitter Media Studio' 'Instagram' 'LaterMedia'
 'Tweetbot for iΟS' 'Slogover' 'SocialBee.io v2' 'Twitter for Advertisers'
 'Commenty 2' 'Emplifi' 'SocialChamp IO ' 'Qualtrics Social Connect'
 'Buffer' 'dlvr.it' 'SoCrowd' 'Sprout Social' 'DenetPro'
 'TweetDeck Web App' 'Echobox' 'Planable' 'Metricool' 'Zoho Social'
 'Typefully' 'Zlappo.com' 'TAG24-NEWS' 'ClubZap' 'Sprinklr Publishing'
 'Canva' 'Sendible' 'LinkedIn' 'Cloud Campaign' 'OneClout'
 'Football Score Twwets' 'Оwly' 'Albatross for Twitter' 'FenixApp'
 'Loomly' 'Sprinklr' 'Twitterrific for iOS' 'Oktopost' 'Echofon'
 'Semrush Social Media Tool' 'Aviary for Twitter' 'Zapier.com'
 'Flamingo for Android' 'Nintendo Switch Share' 'Talon Android'
 'Tweetlogix' 'Plume\xa0for\xa0Android' 'Mastodon-Twitter Crossposter'
 'Fenix 2' 'Twitter Ads' 'TweetCaster for Android' 'Tweetbot for Mac'
 'dab.argh' 'HubSpot' 'Octipulse Backup' 'Vista Social' 'Tweepsmap'
 'Hookle App' 'Agorapulse app' 'Chorus publishing platform'
 'Microsoft Power Platform' 'Squarespace' 'Orlo' 'Crowdfire App'
 'RSS Ground' 'Wildmoka' 'The Tweeted Times' 'Meltwater Social'
 'Brandwatch' 'FANZO Pub Platform' 'HeyOrca' 'ProxyCentral CNNnews18'
 'Constant Contact - Social Posts' 'SMMplanner' 'Pallyy' 'CONTENIVE'
 'socialbu.com' 'eClincher' 'Dabr' 'SocialPilot.co' 'Adobe Express'
 'threadcreator.com' 'notice.com.ng' 'Khoros Publishing App' 'Sked Social'
 'Twheater_live' 'TWTD Admin' 'Blog2Social APP' 'Cyber-Desk' 'RepurposeIO'
 'Copa Do mundo 2022' 'FS_Poster_App' 'Gain Platform'
 'SnapStream TV Search' 'Publer.io']

In [20]:
for var in dfFifa:
    print(var, dfFifa[var].isnull().sum(), round(dfFifa[var].isnull().sum() / len(dfFifa) * 100, 4), "%")

Unnamed: 0 0 0.0 %
Date Created 0 0.0 %
Number of Likes 0 0.0 %
Source of Tweet 0 0.0 %
Tweet 0 0.0 %
Sentiment 0 0.0 %